/MiscVocab
/SpeechAudio
/WordLists
/yellowBridgeSentDeck500
/yoyoprep
/ComplimentsDeck
/CourseVocab
/CourseVocab2
/CourseVocab3
/CourseVocab4
/CourseVocab5
/Fundarin5Complete
/HSK4Deck2rev0
/HSK4Deck2rev1
/HSK4Deck2rev2
/HSK4Deck2rev3
/HSK4Deck2rev4
/HSK4Deck2rev5
/HSK4Deck2rev6
/HSK4Deck2rev7
/HSK4Deck2rev8
/HSK4Deck2rev9
/HSK4Deck2rev10
/HSK4Deck2rev11
/HSK4Deck2rev12
/HSK4Deck20
/HSK4Deck21
/HSK4Deck22
/HSK4Deck23
/HSK4Deck24
/HSK4Deck25
/HSK4Deck26
/HSK4Deck27
/HSK4Deck28
/HSK4Deck29
/HSK4Deck210
/HSK4Deck211
/HSK4Deck212
/*.zip
/*.tsv
*.txt
*.csv